<html>
<head>
    <link rel="stylesheet" href="~/Areas/Module2/Content/module2.css" />
</head>
<body>
    <h1>The Module2 WeatherController says that today will be sunny</h1>
    <div>The above text should be red (if it isn't then the stylesheet hasn't been resolved!)</div>
    @Html.ActionLink("Back home", "Index", "Home")
</body>
</html>