@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>This is the home page!</h3>
    This page is rendered from Views/Home/Index.cshtml in the main web app project
</div>
<div class="row">
    Try the @Html.ActionLink("Module1", "Index", "Module1") controller.
</div>
<div class="row">
    Try the @Html.ActionLink("Module2", "Index", "Weather", new { area = "Module2" }, null) controller.
</div>
<div class="row">
    Depending on the configuration, the Module1 content is either rendered from disk (which is great for development time work), or from
    an embedded resource (which could work well for deployed modules). See the readme.md in the solution.
</div>